<%= render 'layouts/errors', obj: portfolio %>

<%= form_with model: portfolio do |f| %>
  <div class="form-group">
    <%= f.label :image, "画像" %><br>
    <%= f.file_field :image, accept: "image/*" %>
  </div>

  <div class="form-group">
    <%= f.label :name, "ポートフォリオ名" %>
    <%= f.text_field :name, placeholder: "ポートフォリオ名を入力", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :tag_name, "タグ (カンマ区切りで入力、5個以上の場合タグは保存されません)" %>
    <%= f.text_field :tag_name, value: @tag_list, placeholder: "タグ1,タグ2,タグ3,タグ4,タグ5", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_ids, "カテゴリー" %><br>
    <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) do |category| %>
      <%= category.label do %>
        <%= category.check_box %>
        <%= category.text %>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :outline, "概要" %>
    <%= f.text_area :outline, rows: 10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :site_url, "ポートフォリオのリンク" %>
    <%= f.text_field :site_url, placeholder: "https://~", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :code_url, "ソースコードのリンク" %>
    <%= f.text_field :code_url, placeholder: "https://~", class: "form-control" %>
  </div>

  <div class="form-group">
    <p>公開ステータス (「公開しない」を選択することで下書きとして保存できます)</p>
    <%= f.radio_button :is_public, :true %>
    <%= f.label :is_public_true, "公開する" %>
    <%= f.radio_button :is_public, :false %>
    <%= f.label :is_public_false, "公開しない" %>
  </div>

  <div class="form-group text-center">
    <%= f.submit '投稿', class: "btn btn-primary" %>
  </div>
<% end %>