<div class="row mt-5">
  <% portfolios.each do |portfolio| %>
    <% if portfolio.is_public || (!portfolio.is_public && portfolio.user == current_user) %>
      <div class="col-lg-4 col-md-6">
        <div class="card mb-4">
          <%= link_to portfolio_path(portfolio), 'data-turbolinks': false do %><!--遷移後星の画像が消えるのを解消-->
            <%= image_tag portfolio.get_image, class: "card-img-top" %>
          <% end %>

          <div class="card-body">
            <h4 class="card-title"><%= portfolio.name %></h4>
            <p>
              <%= link_to user_path(portfolio.user) do %>
                <%= image_tag portfolio.user.get_profile_image, size: "30x30", class: "rounded-circle" %>
              <% end %>
              <%= portfolio.user.name %>
            </p>
            <div>
              <% portfolio.tags.each do |tag| %>
                <%= link_to tag.name, portfolios_path(@q, :'q[tags_id_eq]' => "#{tag.id}") %>
              <% end %>
            </div>
            <div>
              <% portfolio.categories.each do |category| %>
                <%= link_to category.name, portfolios_path(@q, :'q[categories_id_eq]' => "#{category.id}") %>
              <% end %>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6 text-center">
                <i class="fas fa-comment-alt"></i><%= portfolio.reviews.count %>
              </div>
              <div class="col-6 text-center">
                <i class="fas fa-star"></i><%= portfolio.evaluation_average.floor(1) %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>