<div class="row">
  <% @portfolios.each do |portfolio| %>
    <% if portfolio.is_public %>
        <div class="card col-lg-5 mt-2 mx-1 px-0">
          <div class="card-header">
            <h5 class="card-title"><%= portfolio.name %></h5>
          </div>
          <div class="card-body">
            <%= link_to portfolio_path(portfolio) do %>
              <%= image_tag portfolio.get_image, class: "card-img-top" %>
            <% end %>
            <div id="rate_<%= portfolio.id %>"></div>
            <script>
              $(document).on('turbolinks:load', function() {
                let raty_<%= portfolio.id %> = document.querySelector('#rate_<%= portfolio.id %>');
                rate_<%= portfolio.id %>.innerHTML = ""
                let option_<%= portfolio.id %> = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    score: "<%= portfolio.evaluation_average %>",
                    readOnly: true,
                  };
                raty(raty_<%= portfolio.id %> ,option_<%= portfolio.id %>);
              });
            </script>
            <% portfolio.tags.each do |tag| %>
              <%= link_to tag.name, portfolios_path, class: "btn btn-sm btn-info" %>
            <% end %><br>
            <% portfolio.categories.each do |category| %>
              <%= link_to category.name, portfolios_path%>
            <% end %>
            <p>
              <%= image_tag portfolio.user.get_profile_image(30, 30), class: "rounded-circle" %>
              <%= portfolio.user.name %>
            </p>
          </div>
        </div>
    <% end %>
  <% end %>
</div>