<span id="portfolio-evaluation"></span>(<%= portfolio.evaluation_average.floor(1) %>)
<script>
  $('#portfolio-evaluation').empty();
  $('#portfolio-evaluation').raty({
    starOff: '<%= asset_path('star-off.png') %>',
    starOn: '<%= asset_path('star-on.png') %>',
    starHalf: '<%= asset_path('star-half.png') %>',
    score: <%= portfolio.evaluation_average %>,
    half: true,
    readOnly: true
  });
</script>