<div class="container">
  <div class="row">
    <div class="col mt-5 mx-2">
      <div class="row">
        <div class="col-sm-5 ml-auto">
        <%= image_tag @portfolio.get_image, class: "img-fluid" %>
        </div>
        <div class="col-sm-6">
          <table class="table table-borderless">
            <tbody>
              <tr>
                <td colspan="2"><h5><%= @portfolio.name %></h5></td>
              </tr>
              <tr>
                <td colspan="2"><%= simple_format(h(@portfolio.outline)) %></td>
              </tr>
              <tr>
                <td colspan="2"><%= link_to 'ポートフォリオを見る', @portfolio.url %></td>
              </tr>
              <tr>
                <td>評価</td>
                <td><%= render 'public/portfolios/static_evaluation_average', portfolio: @portfolio %></td>
              </tr>
              <tr>
                <td>タグ</td>
                <td>
                  <% @portfolio.tags.each do |tag| %>
                    <%= link_to tag.name, portfolios_path(:'q[tags_id_eq' => "#{tag.id}"), class: "btn btn-sm btn-info" %>
                  <% end %>
                </td>
              </tr>
              <tr>
                <td>使用言語</td>
                <td>
                  <% @portfolio.categories.each do |category| %>
                    <%= category.name %>
                  <% end %>
                </td>
              </tr>
              <% if @portfolio.user == current_user %>
                <tr>
                  <td><%= link_to '編集', edit_portfolio_path(@portfolio) %></td>
                  <td><%= link_to '削除', portfolio_path(@portfolio), method: :delete %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

      <% if @portfolio.user != current_user && current_user.name != "guestuser" %>
        <div class="row mt-5">
          <div class="col">
            <h5>レビューを投稿</h5>
            <%= form_with model: [@portfolio, @review], local: true do |f| %>
              <div class="form-group" id="star">
                <%= f.label :evaluation, "評価" %>
                <%= f.hidden_field :evaluation, id: :review_star, class: "form-control" %>
              </div>
              <div id="post_raty"></div>
            　<script>
                $('#post_raty').empty();
                $(document).on('turbolinks:load', function() {
                let raty_elem = document.querySelector('#post_raty');
                raty_elem.innerHTML = ""
                let option = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: 'review[evaluation]',
                  };
                raty(raty_elem,option);
               });
              </script>
              <div class="form-group">
                <%= f.label :comment, "コメント" %>
                <%= f.text_area :comment, class: "form-control" %>
              </div>
              <div>
                <%= f.submit '投稿' %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <div class="row mt-5">
        <div class="col mx-auto">
          <h5>レビュー一覧</h5>
          <%= render 'public/reviews/index', portfolio: @portfolio, reviews: @portfolio.reviews %>
        </div>
      </div>
    </div>
  </div>
</div>