<%= image_tag @portfolio.get_image(100, 100) %>
<%= @portfolio.name %>
<%= @portfolio.outline %>
<%= @portfolio.url %>
<% @portfolio.tags.each do |tag| %>
  <li><%= tag.name %></li>
<% end %>
<%= link_to '編集', edit_portfolio_path(@portfolio) %>

<%= form_with model: [@portfolio, @review], local: true do |f| %>
  <div>
    コメント<br>
    <%= f.text_field :comment %>
  </div>
  評価
  <div id="post_raty"></div>
　<script>
    $(document).on('turbolinks:load', function() {
    let raty_elem = document.querySelector('#post_raty');
    raty_elem.innerHTML = ""
    let option = {
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        starHalf: "<%= asset_path('star-half.png') %>",
        half: true,
        scoreName: 'review[evaluation]',
      };
    raty(raty_elem,option);
   });
  </script>
  <div>
    <%= f.submit '投稿' %>
  </div>
<% end %>

<%= render 'public/reviews/index', portfolio: @portfolio, reviews: @reviews %>