<div class="main-visual">
  <div class="main-visual-content">
    <div class="main-visual-text">
      <h1>PortfolioGallery</h1>
      <p>ポートフォリオ共有・レビューサイト</p>
    </div>
    <div>
      <%= link_to '新規登録', new_user_registration_path, class: "main-visual-btn" %>
      <%= link_to 'ログイン', new_user_session_path, class: "main-visual-btn" %>
    </div>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <div class="col">
      <h4>評価の高い投稿</h4>
      <p class="top-text"><%= link_to 'すべて見る', portfolios_path %>(ログインが必要です)</p>
      <p class="top-text">閲覧のみ行いたい方は<%= link_to 'こちら', users_guest_sign_in_path, method: :post %></p>
      <%= render 'public/portfolios/index', portfolios: @portfolios %>
    </div>
  </div>
</div>
