<div class="container px-4 px-lg-5 my-5">
  <div class="row gx-4 align-items-center">
    <div class="col">
      <div class="row">
        <div class="col-md-6">
        <%= image_tag @portfolio.get_image, class: "card-img-top mb-5 mb-md-0" %>
        </div>
        <div class="col-md-6">
          <h3><%= @portfolio.name %></h3>

          <h5>概要</h5>
          <p><%= simple_format(h(@portfolio.outline)) %></p>

          <h5>ポートフォリオのリンク</h5>
          <P><%= link_to @portfolio.site_url %></P>

          <h5>ソースコードのリンク</h5>
          <P><%= link_to @portfolio.code_url %></P>

          <h5>評価</h5>
          <%= render 'public/portfolios/static_evaluation_average', portfolio: @portfolio %>

          <h5>タグ</h5>
          <% @portfolio.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>

          <h5>使用言語</h5>
          <% @portfolio.categories.each do |category| %>
            <%= category.name %>
          <% end %>

          <h5>公開状態</h5>
          <% if @portfolio.is_public %>
            <p class="text-success">公開中</p>
          <% else %>
            <p class="text-secondary">非公開</p>
          <% end %>

          <p><%= link_to '編集', edit_admin_portfolio_path(@portfolio) %></p>
          <p><%= link_to '削除', admin_portfolio_path(@portfolio), method: :delete, data: { confirm: '削除しますか？' } %></p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <h5>レビュー一覧</h5>
          <%= render 'admin/reviews/index', portfolio: @portfolio, reviews: @portfolio.reviews %>
        </div>
      </div>
    </div>
  </div>
</div>