<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
      <p class="navbar-brand p-3">Logo</p>
      <p id="notice"><%= notice %></p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'マイページ', my_page_path %>
            </li>
            <li class="nav-item">
              <%= link_to '投稿一覧', portfolios_path %>
            </li>
            <li class="nav-item">
              <%= link_to '新規投稿', new_portfolio_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログアウト', destroy_user_session_path %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to '新規登録', new_user_registration_path %>
            </li>
            <li class="nav-item">
              <%= link_to 'ログイン', new_user_session_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>