<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2 col-md-3 mt-5">
      <h4>ユーザー詳細</h4>
      <div class="row">
        <div class="col-md-12 col-5">
          <%= image_tag @user.get_profile_image, size: "100x100", class: "rounded mx-auto d-block" %>
        </div>
        <div class="col-md-12 col-7">
          <p><%= @user.name %></p>
          <p><%= simple_format(h(@user.introduction)) %></p>
          <% if @user == current_user && @user.name != "guestuser" %>
            <table class="table table-borderless">
              <tr>
                <td><%= link_to "編集", information_edit_path %></td>
                <td><%= link_to "削除", information_destroy_path, method: :delete, data: { confirm: '退会しますか？' } %></td>
              </tr>
            </table>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-9 mt-5">
      <h4>ユーザー投稿一覧</h4>
      <%= render 'public/portfolios/index', portfolios: @user.portfolios %>
    </div>
  </div>
</div>